# Arquivos compilados Java
*.class

# Maven
target/

# Pacotes gerados
*.jar
*.war
*.ear

# Logs
*.log

# IDEs
.idea/
.vscode/
.settings/
.classpath
.project

# Sistema operacional
.DS_Store
Thumbs.db

# Crash logs Java
hs_err_pid*
replay_pid*
